<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %> | <%= restaurant.phone_number %></li>
  <% end %>
</ul>


<%= link_to 'add a new restuarant', new_restaurant_path %>
